{% extends 'navbar_footer.html' %}
{% load account socialaccount %}
{% load static %}

{% load i18n %}

{% block content %}
<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <img src="{%static 'app/images/UVA-Logo.png'%}" class="img-fluid" style="width:10%">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'department_view' %}">Department List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<html>

<div class="container">

  <div class="row justify-content-center" style="height:200px">
    <div class="col-12">
      <div style="position:relative; top:30px;">
      <h1 align = "center">Sign In</h1>
      </div>
    </div>
  </div>
  
 
  <div class="row justify-content-center align-items-center">
    <div class="col text-center">
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Sign in with a Google account:{% endblocktrans %}</p>
      
      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers list-unstyled">
          {% for provider in socialaccount_providers %}
          {% if provider.id == "openid" %}
          {% for brand in provider.get_brands %}
          <li>
            <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
              href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
              <img src="{%static 'app/images/google-logo.png'%}" style="width:10%">
            </a>
          </li>
          {% endfor %}
          {% endif %}
          <li>
            <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
              href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
              <img src="{%static 'app/images/google-logo.png'%}" style="width:10%">
            </a>
          </li>
          {% endfor %}


          

        </ul>



      </div>
      
      {% include "socialaccount/snippets/login_extra.html" %}
      
      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}


    </div>

    <div class="col text-align-center">
      <div class="login-or"><p align = "center">or</p></div>
    </div>

    <div class="col courselist">

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <ul class="list-unstyled">
          <li><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></li>
          <li><a href="{{ signup_url }}">Sign up</a></li>
        </ul>
        
        
        <button class="btn btn-lg btn-primary primaryAction" role="button">Sign In</button>
        <a role="button"
              href="http://127.0.0.1:8000/accounts/google/login/?process=">
              <img src="{%static 'app/images/google-logo.png'%}" style="width:10%">
            </a>
        {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      
      

        
          {% for provider in socialaccount_providers %}
          {% if provider.id == "openid" %}
          {% for brand in provider.get_brands %}
          <p>
            <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
              href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
              <img src="{%static 'app/images/google-logo.png'%}" style="width:10%">
            </a>
          </p>
          {% endfor %}
          {% endif %}
          <p>
            <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
              href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
              <img src="{%static 'app/images/google-logo.png'%}" style="width:10%">
            </a>
          </p>
          {% endfor %}


      
      
      {% include "socialaccount/snippets/login_extra.html" %}
      
      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      </form>

    </div>
  </div>


</div>
{% endblock %}

</html>