.course {
    border: 0.1rem solid black; 
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.1rem;
    max-width: 50rem;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem; 
    
    opacity: 0.9;
}
.navTitle{
    font-weight: bold;
    
}
.navPic{

    border: 0.1rem solid rgb(255, 253, 253); 
    background-color: white;
    border-radius: 0.5rem;

}
.courselist {
    border: 0.1rem solid black; 
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.1rem;
    max-width: 50rem;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 1rem;  
    opacity: 0.9;
}

.transparent {
    opacity: 0.9;
}

.middle {
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

body {
    background: url("rotunda.306fc460ff16.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

footer {
    position: fixed;
}

