{% load socialaccount %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

<img src="{%static 'app/images/UVA-Logo.png'%}" class="img-fluid" style="width:10%">

<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center">
    <h1>Lou's List v2</h1>
</div>

    <p align = "center" >You are now signed in as {{ user.username }}.</p>
    <p align = "center" ><a href="{% url 'account_logout' %}">Sign Out</a></p>

    {% else %}
        <h1>Lou's List v2</h1>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

</body>

</html>
