{% extends 'navbar_footer.html' %}
<!-- CSS only -->

{% load static %}
{% block content %}
<div class="container back3 position-sticky">
  <div class="row"><div class="col">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
     
      <div {% if message.tags %}class="alert {{message.tags}} alert-dismissible fade show" {% endif %}role="alert" id = "succalert">
        {{ message }}
        <button  type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <script type="text/javascript">
        setTimeout(function () {
  
            // Closing the alert
            $('#succalert').alert('close');
        }, 1000);
    </script>
      {% endfor %}
    </ul>
    {% endif %}

  </div></div>

</div>
<div class="row"><div class="col">
  
  
  
    {% if user.is_authenticated %}
    
    <div class="container">
    <div class="row home align-items-center" style= "height: 500px">
        <h1 align ="center">Hooz List</h1>

        <p align = "center" >You are now signed in as {{ user.email }}</p>
        
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-lg btn-dark" href="{% url 'department_view' %}" role="button">
            View Course Catalog
          </a>
        </div>
        <p align = "center" ><a href="{% url 'account_logout' %}">Sign Out</a></p>
        
    </div> 
  </div>
    {% else %}
   
        

         <div class="container-fluid text-end" >

            <div class="row align-items-center" style="height: 775px">
                

                <div class="col-10 align-self-center" style = "height: 150px">
                  <h1 class="home1">
                    HoozList
                  </h1>
                  <a class="btn btn-lg btn-dark" href="{% url 'account_login' %}" >Log In To Get Started</a>
                </div>
                <div class="col-2"></div>
              </div>
            
            
            
    
        </div>
      
    {% endif %}


    {% endblock %}
