{% extends 'navbar_footer.html' %}

{% block content %}
<!-- Courses --
<div class="text-center courselist">
<h1>{{ department.slug }}</h1>
<ul class = "list-unstyled">
{% for course in department.course_set.all %}
<div class="course">
    <li><b>{{course.subject}}{{ course.course_cat }}-{{course.section}}:</b> {{course.course_name}}</li>
    <li>{{course.component}} - ({{course.units}} Units) | {{course.enrollment_total}} / {{course.capacity}}</li>
    <li>{{course.instructor_name}} --- {{course.meeting_days}} {{course.start_time}}-{{course.end_time}}  </li>
</div>
{% endfor %}
</ul>

</div>
<!-End Courses -->
<style>
    .back2 {
    border: 0.1rem solid rgba(0, 0, 0, 0); 
    background-color: rgb(30, 35, 40);
    border-radius: 0.5rem;
    padding: 0.1rem;
    max-width: 1685px;
    text-align: center;
    align-items: center;
    
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 1rem;  
    opacity: 1;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
</style>

<div class="container back2">
    <div class="row header">
        <div class="col">
         {{department.slug}}
        </div>
    </div>
</div>
<div class="container-fluid" style="max-width: 1700px; margin-top: 0rem;
margin-bottom: 10rem;">
<table class="table table-striped table-hover table-secondary table-bordered">
    <thead class="table-dark ">
      <tr class="">
        <th scope="col">Section</th>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">Instructor</th>
        <th scope="col">Meeting Date/Time</th>
        <th scope="col">Location</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for course in department.course_set.all %}
      <tr>
        <th >{{course.section}}</th>
        <td>{{course.subject}} {{ course.course_cat }}</td>
        <td>{{course.course_name}}</td>
        <td>{{course.instructor_name}}</td>
        <td>{{course.meeting_days}}: {{course.start_time}}-{{course.end_time}}</td>
        <td>{{course.location}}</td>
        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Save</a></li>
              <li><a class="dropdown-item" href="#">Add to Schedule</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}