{% extends 'navbar_footer.html' %}
{% load static %}
{% block content %}
<style>
.header{
  border: 0.1rem solid black; 
    background-color: rgb(30, 35, 40);
    border-radius: 0.5rem;
    
    max-width: 50rem;
    text-align: center;
    align-items: center;
    font-weight: bolder; 
    font-size:50px;
    color: white;
    padding: 1rem;  
    


}
.deptButton{
  border: 0.0rem solid rgb(255, 255, 255);
  background-color: rgb(197, 196, 196);
  border-radius: 0.0rem;
  color: white;
  padding: 1rem;  
  
  opacity: 1;
}
.back {
    border: 0.1rem solid rgba(0, 0, 0, 0); 
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    padding: 0.1rem;
    max-width: 50rem;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 1rem;  
    opacity: 1;
}

</style>

<div class="container back text-center">
  {% if user.is_authenticated %}
  <div class="row header">
    <div class="col align-self-center" >Departments List</div>
  </div>
  
  <div class="row"><div class="col">
    <div class="accordion deptButton" id="accordionExample">
      {% regroup department by first_letter as letter_list %}
      {% for letter in letter_list %}
      
      <div class="accordion-item">
        <h2 class="accordion-header font-weight-bold" id="heading{{letter.grouper }}" style="text-align: center">
          <button class="accordion-button  collapsed btn btn-dark  d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{letter.grouper}}" aria-expanded="true" aria-controls="collapse{{letter.grouper}}">
            {{ letter.grouper }}
          </button>
        </h2>
        <div id="collapse{{letter.grouper}}" class="accordion-collapse collapse" aria-labelledby="heading{{letter.grouper}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul class = "list-unstyled">
              {% for item in letter.list %}
              <li>
              <a class="btn btn-dark" style= "width: 150px;"href="{% url 'courses' item.slug %}" role="button">
                {{ item.slug }}
              </a>
            </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div></div>
  {% else%}
  <div class="row header">
    <div class="col align-self-center" >Please sign in to see the course catalog!</div>
  </div>
  <div class="row deptButton">
    <div class="col align-self-center" ><a class="btn btn-lg btn-dark" href="{% url 'account_login' %}" >Sign In</a>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
