{% extends 'navbar_footer.html' %}

{% block content %}
<style>
.header{
  border: 0.1rem solid black; 
    background-color: rgb(32, 31, 31);
    border-radius: 0.5rem;
    
    max-width: 50rem;
    text-align: center;
    align-items: center;
    font-weight: bolder; 
    font-size:50px;
    color: white;
    padding: 1rem;  
    


}
.deptButton{
  border: 0.05rem solid rgb(255, 255, 255);
  background-color: rgb(172, 164, 164);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;  
  
  opacity: 1;
}
.back {
    border: 0.1rem solid rgba(0, 0, 0, 0); 
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    padding: 0.1rem;
    max-width: 50rem;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 1rem;  
    opacity: 1;
}
</style>
{% if user.is_authenticated %}
<div class="container back text-center">
  <div class="row header">
    <div class="col align-self-center" >Departments List</div>
  </div>
  {% for d in department %}
  <div class="row deptButton align-items-center">
    <div class="col align-self-center">
      
      <a class="btn btn-dark" style= "width: 150px;"href="{% url 'courses' d.slug %}" role="button">
        {{ d.slug }}
      </a>
    </div>
    
</div>
{% endfor %}
</div>
{% else %}
<div class="container back text-center">
  <div class="row header">
    <div class="col align-self-center" >Please sign in to access the course catalog!</div>
  </div>

</div>
{% endif %}
{% endblock %}